<footer class="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <a href="#"><img class="footer-logo" src="{{ asset('assets/img/coronacure_logo.png') }}" alt="logo coronacure"/></a>
                <p class="px-5 footer-logo-desc text-left ">Service en ligne français proposant des moyens en ligne de lutter face à la pandémie de Corona virus. </p>
            </div>
            <div class="col-md-2 mt-4 ml-auto">
                <h3>Services</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Localisation</a></li>
                    <li><a href="#">Prise de rendez-vous</a></li>
                    <li><a href="#">Demande d'intervention</a></li>                    
                    <li><a href="#">Intervenants en ligne</a></li>
                </ul>
            </div>
            <div class="col-md-2 mt-4 ml-auto">
                <h3>Informations</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Événements</a></li>
                    <li><a href="#">Actualités</a></li>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">Pharmacies</a></li>
                    <li><a href="#">Hôpitaux</a></li>
                </ul>
            </div>
            <div class="col-md-2 mt-4 ml-auto">
                <h3>À propos</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Équipes</a></li>
                    <li><a href="#">Carrière</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 text-md-left">
                <ul class="list-unstyled">
                    <li class="px-5"><a href="#">Politique de confidentialité</a></li>
                    <li class="px-5"><a href="#">Termes et conditions</a></li>
                    <li class="px-5"><a href="#">Code de conduite</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="d-flex justify-content-evenly list-unstyled">
                    <li class="px-5"><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li class="px-5"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                    <li class="px-5"><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li class="px-5"><a href="#"><i class="fa-brands fa-square-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-md-center">
                <p><small>Tous droits réservés CoronaCure @ 2023</small></p>
            </div>
        </div>
    </div>
</footer>