{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <h1>Crée une nouvelle intervention</h1>

    {{ include('intervention/_form.html.twig') }}

    <a href="{{ path('app_intervention_index') }}">retour à la liste</a>
{% endblock %}
