<form method="post" action="{{ path('app_heal_order_delete', {'id': heal_order.id}) }}" onsubmit="return confirm('Certain de vouloir supprimer cettte réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ heal_order.id) }}">
    <button class="btn">Supprimer</button>
</form>
