{% extends 'base.html.twig' %}

{% block title %}Article édition{% endblock %}

{% block body %}
    <h1>Article édition</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_post_index') }}">retour à la liste</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
